.result-card{
    margin: auto auto auto auto;
    text-align: center;
}

.card-name{
    position: relative;
    font-size: x-large;
    font-weight: bolder;
}
.card-amount{
    position: relative;
    font-size: x-large;
    font-weight: lighter;
}