.panel{
    margin: 10% auto auto auto
}
.desc{
  width: 50%;
  margin: 3% auto 1% auto;
  white-space: pre-wrap;
  text-align: start;
  line-height: 150%;
  padding: 10px;
}
th{
  top:0px;
  max-width:80%;
  word-wrap: break-word;
  border: 1px black solid;  
  padding: 10px;
}
.nav-line{
  padding: 2% 20% 0 0;
}
.nav-line > a{
  padding: 0 5% 0 5%;
  float: right;
  font-weight: lighter;
  font-size: 22px;
}
.nav-line > a:hover{
  text-decoration-color: black;
  text-decoration: none;
}
.nav-line > a:focus{
  color: black;
  font-weight: lighter;
  text-decoration-color: black;
  text-decoration: underline;
}
.nav-line > a:visited{
  color:black;
}


/* mobile  */
@media (max-width: 622px) {
  .panel{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 30% auto auto auto;
  }

  .nav-line{
    padding: 2% 0 10% 0;
  }
  .nav-line > a{
    text-decoration: none;
    font-weight: lighter;
    font-size: 22px;
  }
  .desc{
    font-size: 14px;
    width: 80%;
    margin: 3% auto 1% auto;
    white-space: pre-wrap;
    text-align: start;

  }
  th{
    border: 1px black solid;   
    padding: 2px;
  } 
}