.search-options{
    padding: 10px 2% 0 2%;
    text-align: center;
}
.search-button{
    background-color:rgb(215, 255, 242);
    border-radius: 5px;
    width: auto;
    color: black;
    margin: 20px;

}
.radio-btn-line{
    align-items: baseline;
}
.search-component{
    /* border: 2px black dashed;
    background-color: rgb(213, 236, 236); */
    margin: 5% 0 5% 0;
}
.result-listing{
    margin: 5% 0 0 0;
}
label{
    margin: 0 3px 0 15px;
}